[submodule "lib/Transforms/Obfuscation"]
	path = lib/Transforms/Obfuscation
	url = https://github.com/HikariObfuscator/Core.git
[submodule "include/llvm/Transforms/Obfuscation"]
	path = include/llvm/Transforms/Obfuscation
	url = https://github.com/HikariObfuscator/Headers.git
